
@font-face {
    font-family: oliver;
    src: url('Chalkboard-Regular.ttf');
    format('truetype');
}

h1 {
    display: inline-block;
    background-color: rgb(255, 202, 212, 0.5);  /* #ffcad4 at 70% opacity */
    color: #e71f1f;
    margin-top: 90px;
    padding: 10px 20px;
    
    border-radius: 25px;
    /* Remove opacity: 0.7; */
}

body
{
    text-align: center;
    background-color: #ffc8dd;
    background-image: url(back5.jpg);
    font-family: oliver;
    font-size: larger;
    
}
.video
{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}